$colorMain: #000000;
$colorText: #fff3ff;
$colorButoon: #c53b34;
$colorFooter: #06121E;
$colorServiceDescript: #323232;
$colorServiceTitle: #06121E;
$colorBgServiceCardTexts: #FFFFFF;
$colorBgServiceCardButton: #D94140;