.img-home {
  position: relative;
}

.img-home::before {
  content: '';
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgb(3, 3, 3), #ffffff05),
    url(../sources/images/background-header.jpeg);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

//Seção sobre
#about-us {
  padding: 32px;
  margin: 32px;
  gap: 24px;
  display: flex;
  justify-content: space-between;

  .about-us-images {
    width: 50%;
  }

  .about-us-texts {
    justify-items: center;

    h2 {
      font-size: 32px;
      padding: 24px;
    }
  }
}


//seção equipe

#professionals {
  width: 100%;
  height: 400px;
  background-color: $colorButoon;

  h2 {
    padding: 16px;
    margin: 16px;
    text-align: center;

  }

.carrossel {
  display: flex;
  justify-content: space-around;

}

  .card {
    position: relative;
    width: 11.875em;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;

    .title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9em;
      position: absolute;
      left: 0.625em;
      bottom: 1.875em;
      font-weight: 400;
      color: #000;
    }
  }

}

// Sessão Serviços
#services {
  max-width: 1188px;
  padding: 10px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;

  .services-title {
    margin-bottom: 24px;
    font-size: 44px;
    font-weight: 700;
    color: $colorServiceTitle;
  }

  .services-desc {
    margin: auto;
    margin-bottom: 40px;
    max-width: 800px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: $colorServiceDescript;
  }

  .swiper-slide {
    border-radius: 0px 0px 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

    .service-card-img {
      width: 100%;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .service-card-texts {
      width: 100%;
      height: auto;
      background-color: $colorBgServiceCardTexts;
      display: flex;
      justify-content: space-between;
      padding: 24px 14px;
      border-radius: 0px 0px 16px 16px;

      .service-name {
        font-size: 18px;
        font-weight: 700;
      }

      .service-button {
        background-color: $colorBgServiceCardButton;
        padding: 6px 20px;
        border-radius: 8px;
        font-size: 14px;
        color: #FFF;
        font-weight: 700;

        &:hover,
        &:focus {
          animation: translateY 0.8s infinite alternate;
        }
      }
    }
  }
}

.swiper {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-wrapper {
  margin-bottom: 30px;
}

// Sessão localização da barbearia
#barber-location {
  width: 100%;
  margin: auto;
  text-align: center;

  h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 48px;
  }

  .map-location {
    width: 100%;
    height: 400px;
  }
}

// Rodapé do site
footer {
  width: 100%;
  background-color: $colorFooter;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .footer-icons {
    display: flex;
    gap: 16px;

    a {
      &:hover,
      &:focus {
        i {
          animation: translateY 0.8s infinite alternate;
          color: $colorButoon;
        }
      }
    }

  }

  .footer-copyright {
    color: $colorText;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
}