.img-home {
  position: relative;
}

.img-home::before {
  content: '';
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgb(3, 3, 3), #ffffff05),
    url(../sources/images/background-header.jpeg);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

//Seção sobre
#about-us {
  width: 100%;
  padding: 32px;
  margin: 32px;
  gap: 24px;
  display: flex;
  justify-content: space-between;

  .about-us-images {
    width: 50%;
  }

  .about-us-texts {
    justify-items: center;

    h2 {
      font-size: 32px;
      padding: 24px;
    }
  }
}


//seção equipe

#professionals {
  width: 100%;
  height: 400px;
  background-color: $colorButoon;

  h2 {
    padding: 16px;
    margin: 16px;
    text-align: center;

  }

.carrossel{
  display: flex;
  justify-content: space-around;

}

  .card {
    position: relative;
    width: 11.875em;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;

    .title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9em;
      position: absolute;
      left: 0.625em;
      bottom: 1.875em;
      font-weight: 400;
      color: #000;
    }
  }

}