* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

header {
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #fff3ff;
}

.menu-itens {
  display: flex;
  gap: 14px;
  padding: 42px 36px;
}

.menu-itens a:hover i,
.menu-itens a:focus i {
  animation: translateY 0.8s infinite alternate;
  color: #c53b34;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.menu-right-item .btn-schedule-time {
  color: #fff3ff;
  margin: 16px;
  padding: 8px 24px;
  font-weight: 600;
  font-size: 16px;
  border: 1.4px solid #fff3ff;
  border-radius: 4px;
  display: inline-block;
}
.menu-right-item .btn-schedule-time:hover, .menu-right-item .btn-schedule-time:focus {
  background-color: #c53b34;
  animation: translateY 0.8s infinite alternate;
}

.img-home {
  position: relative;
}

.img-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgb(3, 3, 3), rgba(255, 255, 255, 0.0196078431)), url(../sources/images/background-header.jpeg);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

#about-us {
  padding: 32px;
  margin: 32px;
  gap: 24px;
  display: flex;
  justify-content: space-between;
}
#about-us .about-us-images {
  width: 50%;
}
#about-us .about-us-texts {
  justify-items: center;
}
#about-us .about-us-texts h2 {
  font-size: 32px;
  padding: 24px;
}

#professionals {
  width: 100%;
  height: 400px;
  background-color: #c53b34;
}
#professionals h2 {
  padding: 16px;
  margin: 16px;
  text-align: center;
}
#professionals .carrossel {
  display: flex;
  justify-content: space-around;
}
#professionals .card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}
#professionals .card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}

#services {
  max-width: 1188px;
  padding: 10px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}
#services .services-title {
  margin-bottom: 24px;
  font-size: 44px;
  font-weight: 700;
  color: #06121E;
}
#services .services-desc {
  margin: auto;
  margin-bottom: 40px;
  max-width: 800px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #323232;
}
#services .swiper-slide {
  border-radius: 0px 0px 16px 16px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#services .swiper-slide .service-card-img {
  width: 100%;
  height: 300px;
}
#services .swiper-slide .service-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#services .swiper-slide .service-card-texts {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 24px 14px;
  border-radius: 0px 0px 16px 16px;
}
#services .swiper-slide .service-card-texts .service-name {
  font-size: 18px;
  font-weight: 700;
}
#services .swiper-slide .service-card-texts .service-button {
  background-color: #D94140;
  padding: 6px 20px;
  border-radius: 8px;
  font-size: 14px;
  color: #FFF;
  font-weight: 700;
}
#services .swiper-slide .service-card-texts .service-button:hover, #services .swiper-slide .service-card-texts .service-button:focus {
  animation: translateY 0.8s infinite alternate;
}

.swiper {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #D94140;
  width: 25px;
  height: 25px;
  color: #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 0px rgba(92, 115, 160, 0.02);
  opacity: 0.6;
}

.swiper-button-prev::after {
  content: "\f053";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  font-size: 14px;
}

.swiper-button-next::after {
  content: "\f054";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  font-size: 14px;
}

.swiper-wrapper {
  margin-bottom: 30px;
}

#barber-location {
  width: 100%;
  margin: auto;
  text-align: center;
}
#barber-location h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 48px;
}
#barber-location .map-location {
  width: 100%;
  height: 400px;
}

footer {
  width: 100%;
  background-color: #06121E;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footer-icons {
  display: flex;
  gap: 16px;
}
footer .footer-icons a:hover i, footer .footer-icons a:focus i {
  animation: translateY 0.8s infinite alternate;
  color: #c53b34;
}
footer .footer-copyright {
  color: #fff3ff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
}

#hero {
  max-width: 1440px;
  padding-inline: 20px;
  margin: auto;
  margin-top: -50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#hero .logo-breck {
  max-width: 300px;
}
#hero h1 {
  margin-top: 20px;
  color: #fff3ff;
  font-size: 48px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
#hero h1 span {
  font-size: 36px;
}
#hero p {
  margin-top: 30px;
  color: #fff3ff;
  font-size: 18px;
  font-weight: 500;
}
#hero button {
  margin-top: 60px;
  padding: 15px 50px;
  color: #fff3ff;
  font-size: 24px;
  font-weight: 700;
  background-color: #c53b34;
}
#hero button:hover {
  animation: translateY 0.8s infinite alternate;
}
#hero button:focus {
  outline: none;
  background-color: #c53b34;
  animation: translateY 0.8s infinite alternate;
}/*# sourceMappingURL=style.css.map */