/* Reset CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  & ul {
    list-style: none;
  }
}

/* Ignorar por agora, estava apenas testando algumas aplicações futuras para o menu
#menu {
  max-width: 1280px;
  width: 100%;
  margin: auto;

  & #menu-items {
    width: 100%;
    display: flex;

    & .menu-right-item {
      margin-left: auto;
    }
  }
}
*/



